@font-face {
  font-family: "TTmilks";
  src: url("/src/assets/fonts/tt-milks/TT\ Milks\ Casual\ Pie\ Trial\ Base.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

/* @font-face {
  font-family: "MiFuente";
  src: url("/src/assets/fonts/MiFuente-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
} */


@tailwind base;
@tailwind components;
@tailwind utilities;